:root{
    --primary-color: rgb(2, 35, 74);
    --secondary-color: rgb(186, 175, 120);
}
@keyframes softball{
    0%{
        transform: scale(2) rotateZ(0deg)
        
    }
    50%{
        transform: scale(2.5) rotateZ(360deg)
    }
    100%{
        transform: scale(2) rotateZ(0deg)
    }
}

@keyframes breathe{
    0%{
        transform: scale(1)
    }
    50%{
        transform: scale(1.05)
    }
    100%{
        transform: scale(1)
    }
}

body{
    color: var(--secondary-color);
    background-color: var(--primary-color);
    font-weight: bold;
    overflow-x: hidden;
    
}
#banner{
    text-align: center;
    margin: 1em;
    padding: 2em;
    font-size: 1.25em;
    border-radius: 1em;
    color: var(--primary-color);
    background-color: var(--secondary-color);

}

.flex-container{
    display: flexbox;
    align-items: center;
    margin: 2em;
    padding: 1em;
    flex-direction:column;
    overflow-x: visible;
}
#record{
    display: grid;
    grid-template-columns: 240px 240px 240px;
    text-align: center;
    color: rgb(180, 180, 180);
}
#player-stats{
    //font-weight: bold;
    font-size: 1.25em;
    margin-top: 2em;
    display: flex;
    justify-content: left;
    margin-left: 3em;
}
#stats{
    display: grid;
    grid-template-columns: repeat(8, 75px);
    width: 75%;
    margin-left: 3em;
    margin-top: 1em;
    color: rgb(180, 180, 180);

    #stat-desc{
        padding-left: 2em;
        border-bottom: 1px solid;
        border-bottom-width: 3px;
        height: 50%;
    }
    #stat-num{
        padding-left: 2em;
        margin-top: -1px;
    }
    
}
.game-today{
        display: flex;
        margin-right: 2em;
        margin-left: 2em;
        margin-top: 2em;
        margin-bottom: 2em;
        font-size: 1.25em;
        border-radius: 2em;
        background-color: rgb(180, 180, 180);
        animation-name: breathe;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
    
        
    #emoji{
        position: absolute;
        margin-left: 3em;
        padding-top: 12px;
        padding-bottom: 10px;
        color: var(--primary-color);
        animation-name: softball;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
    }
    p{
        //font-size: 1.75em;
        padding-top: 10px;
        padding-bottom: 10px;
        color: var(--primary-color);
        margin-left: 6em;

        #game-live{
            font-size: .5em;
        }
        #game-link{
            text-decoration: underline;
            color: var(--primary-color);
            cursor: pointer;
        }
    }
}
#next-game{
    color: var(--primary-color);
    font-weight: bold;
    background-color: var(--secondary-color);
    border: none;
    height: 2em;
    padding-right: 1em;
    padding-left: 1em;
    border-radius: 5px;
    float: right;
    margin-right: 4em;
    cursor: pointer;
}

#feed{
    display: flex;
    flex-direction: column;
    margin-top: 4em;
    margin-left: 2em;

    #background-odd{
        display: grid;
        grid-template-columns: 200px 200px 200px;
        background-color: rgb(180, 180, 180);
        text-align: center;
        height: 5em;
        width: 90%;
        padding: .5em;
        border-radius: 1em;
        color: black;
        h3{
            background-color: var(--primary-color);
            color: var(--secondary-color);
            margin: 1em;
            margin-left: 4em;
            padding-top: .5em;
            width: 50%;
            text-align: center;
            border-radius: 20px;
        }
        p{
            margin-top: 2em;
            margin-left: 5em;
        }
    }
    #background-even{
        display: grid;
        grid-template-columns: 200px 200px 200px;
        background-color: whitesmoke;
        text-align: center;
        height: 5em;
        width: 90%;
        padding: .5em;
        border-radius: 1em;
        color: black;
        h3{
            background-color: var(--secondary-color);
            color: var(--primary-color);
            margin: 1em;
            margin-left: 4em;
            padding-top: .5em;
            width: 50%;
            text-align: center;
            border-radius: 20px;
        }
        p{
            margin-top: 2em;
            margin-left: 5em;
        }
    }
}

h2{
    display: block;
    text-align: center;
    margin-top: 2em;
    //color: rgb(180,180,180);
}
.hidden{
    display: none;
}
#news-date{
    color: whitesmoke;
}
.game-today{
    display: flex;
    margin-right: 4em;
    margin-left: 4em;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 1.25em;
    border-radius: 2em;
    background-color: rgb(180, 180, 180);
    animation-name: breathe;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;

    
    #emoji{
        position: absolute;
        margin-left: 3em;
        padding-top: 12px;
        padding-bottom: 10px;
        color: var(--primary-color);
        animation-name: softball;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
    }
    p{
        //font-size: 1.75em;
        padding-top: 10px;
        padding-bottom: 10px;
        color: var(--primary-color);
        margin-left: 6em;

        #game-live{
            font-size: .5em;
        }
        #game-link{
            text-decoration: underline;
            color: var(--primary-color);
            cursor: pointer;
        }
    }

}

a{
    color: var(--secondary-color);
    font-style: italic;
    color: rgb(180, 180, 180);
}

@media only screen and (max-width: 500px) {
    #record{
        font-size: medium;
        display: grid;
        grid-template-columns: 170px 160px 160px;
        margin-left: 5px;
        color: rgb(180, 180, 180);
    }
    #player-stats{
        font-size: 1.25em;
        margin-top: 2em;
        display: flex;
        justify-content: left;
        margin-left: 1em;

        #choose-player{
            color: var(--secondary-color);
            transform: scale(2);
        }
    }
    #stats{
        display: grid;
        grid-template-columns: repeat(8, 60px);
        margin: 0;
        margin-top: 1em;
        margin-bottom: -1em;
        color: rgb(180, 180, 180);

        #stat-desc{
            border-left: none;
            border-right: none;
            padding-left: 1.25em;
        }
        #stat-num{
            padding-left: 1.3em;
        }
    }
    .game-today{
        display: flex;
        margin-right: 1em;
        margin-left: 1em;
        margin-top: 2em;
        margin-bottom: 2em;
        font-size: 1em;
        width: 90%;
        border-radius: 2em;
        background-color: rgb(180, 180, 180);
        animation-name: breathe;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;

        
        #emoji{
            margin-left: 2em;
            padding-top: 12px;
            padding-bottom: 10px;
            position: absolute;
            color: var(--primary-color);
            animation-name: softball;
            animation-duration: 4s;
            animation-iteration-count: infinite;
            animation-fill-mode: forwards;
        }
        p{
            //font-size: 1.75em;
            padding-top: 10px;
            padding-bottom: 10px;
            color: var(--primary-color);
            margin-left: 4em;

            #game-live{
                font-size: .5em;
            }
            #game-link{
                text-decoration: underline;
                color: var(--primary-color);
                cursor: pointer;
            }
        }
    }
    #news{
        margin: 0;
    }
    #next-game{
        margin-right: .75em;
        margin-top: .25em;
        margin-bottom: .25em;
    }
    #feed{
        display: flex;
        flex-direction: column;
        margin-top: 4em;
        margin-left: .25em;
        margin-right: 1em;

        #background-odd{
            display: grid;
            grid-template-columns: 150px 150px 150px;
            background-color: rgb(180, 180, 180);
            text-align: center;
            height: 5em;
            width: 100%;
            padding: .5em;
            border-radius: 1em;
            color: black;
            
            h3{
                background-color: var(--primary-color);
                color: var(--secondary-color);
                margin: 1em;
                margin-left: 1em;
                padding: .5em;
                width: 60%;
                text-align: center;
                border-radius: 20px;
            }
            p{
                margin-top: 2em;
                margin-left: 5em;
            }
            #sched-opp{
                width: 10em;
                margin-left: 1em;
            }
        }
        #background-even{
            display: grid;
            grid-template-columns: 150px 150px 150px;
            background-color: whitesmoke;
            text-align: center;
            height: 5em;
            width: 100%;
            padding: .5em;
            border-radius: 1em;
            color: black;

            h3{
                background-color: var(--secondary-color);
                color: var(--primary-color);
                margin: 1em;
                margin-left: 1em;
                padding: .5em;
                width: 60%;
                text-align: center;
                border-radius: 20px;
            }
            p{
                margin-top: 2em;
                margin-left: 5em;
            }
            #sched-opp{
                width: 10em;
                margin-left: 1em;
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    #banner{
        font-size: .75em;
        width: 20em;
        padding: 1em;
        padding-right: 2em;
        padding-left: 2em;
        margin-right: 1.75em;
    }

    #date{
        font-weight: bolder;
        font-style: italic;
    }

    .flex-container{
        display: flexbox;
        align-items: center;
        margin: 2em;
        padding: 1em;
        flex-direction:column;
        overflow-x: visible;
    }
    #record{
        display: grid;
        grid-template-columns: 100px 100px 100px;
        font-size: .25em;
        text-align: center;
        color: rgb(180, 180, 180);
    }
    #player-stats{
        //font-weight: bold;
        font-size: .75em;
        margin-top: 2em;
        display: flex;
        justify-content: left;
        margin-left: 1.5em;
    }

    #stats{
        display: grid;
        grid-template-columns: repeat(8, 40px);
        font-size: .25em;
        width: 100%;
        margin: auto;
        margin-top: 1.5em;
        color: rgb(180, 180, 180);

        #stat-desc{
            padding-left: 2em;
            border-bottom: 1px solid;
            border-bottom-width: 3px;
            height: 50%;
        }
        #stat-num{
            padding-left: 2em;
            margin-top: -1px;
        }  
    }

    .game-today{
        display: flex;
        margin-right: .5em;
        margin-left: .5em;
        margin-top: 1em;
        margin-bottom: 2em;
        font-size: .75em;
        width: 80%;
        border-radius: 2em;
        background-color: rgb(180, 180, 180);
        animation-name: breathe;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;

        
        #emoji{
            display:none;
        }
        p{
            //font-size: 1.75em;
            padding-top: 10px;
            padding-bottom: 10px;
            color: var(--primary-color);
            margin-left: 2.5em;

            #game-live{
                font-size: .5em;
            }
            #game-link{
                text-decoration: underline;
                color: var(--primary-color);
                cursor: pointer;
            }
        }
    }
    #news{
        #headline{
            font-size: .75em;
            margin-left: .5em;
            width: 80%;
        }
        #news-date{
            color: whitesmoke;
            font-size: .65em;
            margin-left: 1em;
        }
        #src{
            font-size: .65em;
            margin-left: 1em;
        }
    }

    #next-game{
        color: var(--primary-color);
        font-weight: bold;
        background-color: var(--secondary-color);
        border: none;
        height: 1.5em;
        font-size: .75em;
        padding-right: .5em;
        padding-left: .5em;
        margin-left: 3em;
        border-radius: 5px;
        float: left;
        cursor: pointer;
    }

    #feed{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3em;
        margin-right: 3.5em;

        #background-odd{
            display: block;
            background-color: rgb(180, 180, 180);
            text-align: center;
            height: 6em;
            width: 80%;
            padding: .5em;
            border-radius: 1em;
            color: black;
            padding-bottom: 1.5em;
            padding-top: .75em;
            h3{
                background-color: var(--primary-color);
                color: var(--secondary-color);
                margin: auto;
                font-size: 1em;
                height: 20%;
                border-radius: 20px;
                margin-bottom: 1em;
            }
            #sched-opp{
                margin: auto;
                margin-bottom: .75em;
            }
            #status{
                margin: auto;
            }
        }
        #background-even{
            display: block;
            background-color: whitesmoke;
            text-align: center;
            height: 6em;
            width: 80%;
            padding: .5em;
            border-radius: 1em;
            color: black;
            padding-bottom: 1.5em;
            padding-top: .75em;
            h3{
                background-color: var(--secondary-color);
                color: var(--primary-color);
                margin: auto;
                font-size: 1em;
                height: 20%;
                border-radius: 20px;
                margin-bottom: 1em;
            }
            #sched-opp{
                margin: auto;
                margin-bottom: .75em;
            }
            #status{
                margin: auto;
            }
        }
    }

    h2{
        text-align: center;
        margin-top: 1em;
        font-size: 1em;
        width: 80%;
    }
    .hidden{
        display: none;
    }

    a{
    color: var(--secondary-color);
    font-style: italic;
    color: rgb(180, 180, 180);
    }
}

@media only screen and (min-width: 501px) and (max-width: 550px){
    #record{
        color:rgb(180, 180, 180);
        grid-template-columns: repeat(3, 165px);
        margin: auto;
    }
    #player-stats{
        margin-top: 1em;
        margin-left: 1em;
    }
    #stats{
        margin: auto;
        grid-template-columns: repeat(8, 50px);
    }
    #news{
        margin: auto;
        #headline{
            width: 100%;
            margin: auto;
        }
    }
    .game-today{
        display: flex;
        margin-right: 1em;
        margin-left: 1em;
        margin-top: 2em;
        margin-bottom: 2em;
        font-size: 1.25em;
        border-radius: 2em;
        background-color: rgb(180, 180, 180);
        animation-name: breathe;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
    
        
        #emoji{
            position: absolute;
            margin-left: 2em;
            padding-top: 12px;
            padding-bottom: 10px;
            color: var(--primary-color);
            animation-name: softball;
            animation-duration: 4s;
            animation-iteration-count: infinite;
            animation-fill-mode: forwards;
        }
        p{
            //font-size: 1.75em;
            padding-top: 10px;
            padding-bottom: 10px;
            color: var(--primary-color);
            margin-left: 4.5em;
    
            #game-live{
                font-size: .5em;
            }
            #game-link{
                text-decoration: underline;
                color: var(--primary-color);
                cursor: pointer;
            }
        }
    }
    #next-game{
        margin-right: 2.5em;
    }
    #feed{
        #background-odd{
            grid-template-columns: repeat(3, 125px);
            h3{
                margin-left: 1em;
                width: 6em;
            }
            #sched-opp{
                width: 120%;
                margin-left: 2em;
            }
            #status{
                margin-left: 4em;
            }
        }
        #background-even{
            grid-template-columns: repeat(3, 125px);
            h3{
                margin-left: 1em;
                width: 6em;
            }
            #sched-opp{
                width: 120%;
                margin-left: 2em;
            }
            #status{
                margin-left: 4em;
            }
        }
    }

}
@media only screen and (min-width: 551px) and (max-width: 600px){
    #record{
        grid-template-columns: repeat(3, 185px);
    }
    #player-stats{
        margin-left: 1em;
    }
    #stats{
        grid-template-columns: repeat(8, 65px);
        margin-left: 1.5em;
    }
    .game-today{
        display: flex;
        margin-right: 2em;
        margin-left: 2em;
        margin-top: 2em;
        margin-bottom: 2em;
        font-size: 1.25em;
        border-radius: 2em;
        background-color: rgb(180, 180, 180);
        animation-name: breathe;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
    
        
        #emoji{
            position: absolute;
            margin-left: 3em;
            padding-top: 12px;
            padding-bottom: 10px;
            color: var(--primary-color);
            animation-name: softball;
            animation-duration: 4s;
            animation-iteration-count: infinite;
            animation-fill-mode: forwards;
        }
        p{
            //font-size: 1.75em;
            padding-top: 10px;
            padding-bottom: 10px;
            color: var(--primary-color);
            margin-left: 6em;
    
            #game-live{
                font-size: .5em;
            }
            #game-link{
                text-decoration: underline;
                color: var(--primary-color);
                cursor: pointer;
            }
        }
    }
    #news{
        #headline{
            width: 100%;
            margin: auto;
        }
    }
    #next-game{
        margin-right: 3em;
    }
    #feed{
        #background-odd{
            grid-template-columns: repeat(3, 150px);
            h3{
                margin-left: 1em;
                width: 6em;
            }
            #sched-opp{
                width: 120%;
                margin-left: 2em;

            }
            #status{
                margin-left: 4em;
            }
        }
        #background-even{
            grid-template-columns: repeat(3, 150px);
            h3{
                margin-left: 1em;
                width: 6em;
            }
            #sched-opp{
                width: 120%;
                margin-left: 2em;

            }
            #status{
                margin-left: 4em;
            }
        }
    }
}
@media only screen and (min-width: 601px) and (max-width: 725px){
    #record{
        grid-template-columns: repeat(3, 210px);
    }
    #player-stats{
        margin-left: 2em;
    }
    #stats{
        grid-template-columns: repeat(8, 70px);
        margin-left: 2.5em;
    }
    #news{
        #headline{
            width: 100%;
            margin: auto;
        }
    }
    .game-today{
        display: flex;
        margin-right: 2em;
        margin-left: 2em;
        margin-top: 2em;
        margin-bottom: 2em;
        font-size: 1.25em;
        border-radius: 25px;
        background-color: rgb(180, 180, 180);
        animation-name: breathe;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
    
        
        #emoji{
            position: absolute;
            margin-left: 2.5em;
            padding-top: 12px;
            padding-bottom: 10px;
            color: var(--primary-color);
            animation-name: softball;
            animation-duration: 4s;
            animation-iteration-count: infinite;
            animation-fill-mode: forwards;
        }
        p{
            //font-size: 1.75em;
            padding-top: 10px;
            padding-bottom: 10px;
            color: var(--primary-color);
            margin-left: 5.5em;
    
            #game-live{
                font-size: .5em;
            }
            #game-link{
                text-decoration: underline;
                color: var(--primary-color);
                cursor: pointer;
            }
        }
    }
    #next-game{
        margin-right: 3.25em;
    }
    #feed{
        #background-odd{
            grid-template-columns: repeat(3, 160px);
            h3{
                width: 6em;
                margin-left: 1em;
            }
            #sched-opp{
                width: 120%;
                margin-left: 1em;
            }
            #status{
                margin-left: 6em;
            }
        }
        #background-even{
            grid-template-columns: repeat(3, 160px);
            h3{
                width: 6em;
                margin-left: 1em;
            }
            #sched-opp{
                width: 120%;
                margin-left: 1em;
            }
            #status{
                margin-left: 6em;
            }
        }
    }
}

@media only screen and (min-width: 726px) and (max-width: 850px){
    #record{
        grid-template-columns: repeat(3, 250px);
    }
    #stats{
        grid-template-columns: repeat(8, 80px);
        margin-left: 4em;
    }
    .game-today{
        display: flex;
        margin-right: 2em;
        margin-left: 2em;
        margin-top: 2em;
        margin-bottom: 2em;
        font-size: 1.25em;
        border-radius: 25px;
        background-color: rgb(180, 180, 180);
        animation-name: breathe;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
    
        
        #emoji{
            position: absolute;
            margin-left: 2.5em;
            padding-top: 12px;
            padding-bottom: 10px;
            color: var(--primary-color);
            animation-name: softball;
            animation-duration: 4s;
            animation-iteration-count: infinite;
            animation-fill-mode: forwards;
        }
        p{
            //font-size: 1.75em;
            padding-top: 10px;
            padding-bottom: 10px;
            color: var(--primary-color);
            margin-left: 6em;
    
            #game-live{
                font-size: .5em;
            }
            #game-link{
                text-decoration: underline;
                color: var(--primary-color);
                cursor: pointer;
            }
        }
    }
    
    #feed{
        #background-odd{
            grid-template-columns: repeat(3, 210px);
            h3{
                margin-left: 2em;
                width: 6em;
            }
            #sched-opp{
                width: 120%;
                margin-left: 1em;
            }
            #status{
                margin-left: 6em;
            }
        }
        #background-even{
            grid-template-columns: repeat(3, 210px);
            h3{
                margin-left: 2em;
                width: 6em;
            }
            #sched-opp{
                width: 120%;
                margin-left: 1em;
            }
            #status{
                margin-left: 6em;
            }
        }
    }
}
@media only screen and (min-width: 851px) and (max-width: 1000px){
    #record{
        grid-template-columns: repeat(3, 300px);
    }
    #stats{
        grid-template-columns: repeat(8, 110px);
        margin-left: 1em;
    }
    .game-today{
        display: flex;
        margin-right: 4em;
        margin-left: 4em;
        margin-top: 2em;
        margin-bottom: 2em;
        font-size: 1.25em;
        border-radius: 25px;
        background-color: rgb(180, 180, 180);
        animation-name: breathe;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
    
        
        #emoji{
            position: absolute;
            margin-left: 4em;
            padding-top: 12px;
            padding-bottom: 10px;
            color: var(--primary-color);
            animation-name: softball;
            animation-duration: 4s;
            animation-iteration-count: infinite;
            animation-fill-mode: forwards;
        }
        p{
            //font-size: 1.75em;
            padding-top: 10px;
            padding-bottom: 10px;
            color: var(--primary-color);
            margin-left: 10em;
    
            #game-live{
                font-size: .5em;
            }
            #game-link{
                text-decoration: underline;
                color: var(--primary-color);
                cursor: pointer;
            }
        }
    }
    #next-game{
        margin-right: 5.25em;
    }
    #feed{
        #background-odd{
            grid-template-columns: repeat(3, 250px);

        }
        #background-even{
            grid-template-columns: repeat(3, 250px);
        }
    }
}

@media only screen and (min-width: 1001px) and (max-width: 1199px){
    #record{
        grid-template-columns: repeat(3, 350px);
    }
    #stats{
        grid-template-columns: repeat(8, 120px);
        margin-left: 2em;
    }
    .game-today{
        display: flex;
        margin-right: 6em;
        margin-left: 6em;
        margin-top: 2em;
        margin-bottom: 2em;
        font-size: 1.25em;
        border-radius: 25px;
        background-color: rgb(180, 180, 180);
        animation-name: breathe;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
    
        
        #emoji{
            position: absolute;
            margin-left: 8em;
            padding-top: 12px;
            padding-bottom: 10px;
            color: var(--primary-color);
            animation-name: softball;
            animation-duration: 4s;
            animation-iteration-count: infinite;
            animation-fill-mode: forwards;
        }
        p{
            //font-size: 1.75em;
            padding-top: 10px;
            padding-bottom: 10px;
            color: var(--primary-color);
            margin-left: 12em;
    
            #game-live{
                font-size: .5em;
            }
            #game-link{
                text-decoration: underline;
                color: var(--primary-color);
                cursor: pointer;
            }
        }
    }
    #next-game{
        margin-right: 6em;
    }
    #feed{
        margin-left: 3em;
        #background-odd{
            grid-template-columns: repeat(3, 300px);

        }
        #background-even{
            grid-template-columns: repeat(3, 300px);
        }
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px){
    #banner{
        font-size: 1.75em;
    }
    #record{
        grid-template-columns: repeat(3, 400px);
        font-size: 1.25em;
    }
    #player-stats{
        font-size: 1.5em;
    }
    h2{
        font-size: 2em;
    }
    #stats{
        grid-template-columns: repeat(8, 150px);
        margin-left: 2em;
        font-size: 1.25em;
    }
    .game-today{
        display: flex;
        margin-right: 6em;
        margin-left: 6em;
        margin-top: 2em;
        margin-bottom: 2em;
        font-size: 1.25em;
        border-radius: 25px;
        background-color: rgb(180, 180, 180);
        animation-name: breathe;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
    
        
        #emoji{
            position: absolute;
            margin-left: 8em;
            padding-top: 12px;
            padding-bottom: 10px;
            color: var(--primary-color);
            animation-name: softball;
            animation-duration: 4s;
            animation-iteration-count: infinite;
            animation-fill-mode: forwards;
        }
        p{
            font-size: 1.25em;
            padding-top: 10px;
            padding-bottom: 10px;
            color: var(--primary-color);
            margin-left: 12em;
    
            #game-live{
                font-size: .5em;
            }
            #game-link{
                text-decoration: underline;
                color: var(--primary-color);
                cursor: pointer;
            }
        }
    }
    #next-game{
        margin-right: 10em;
    }
    #news{
        text-align: center;
        #headline{
            font-size: 1.5em;
        }
        #news-date{
            font-size: 1.25em;
        }
        #src{
            font-size: 1.25em;
        }
    }
    #feed{
        margin-left: 3em;
        display: grid;
        grid-template-columns: 600px 0px 0px 600px;
        
        #background-odd{
            grid-template-columns: repeat(3, 150px);
            width: 500px;
            margin: auto;
            margin-bottom: 1em;
            
            h3{
                width: 6em;
            }
            #sched-opp{
                width: 120%;
                margin-left: 2em;
            }
        }
        #background-even{
            grid-template-columns: repeat(3, 150px);
            width: 500px;
            margin: auto;
            margin-bottom: 1em;
            
            h3{
                width: 6em;
            }
            #sched-opp{
                width: 120%;
                margin-left: 2em;
            }
        }
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1599px){
    #banner{
        font-size: 2.25em;
        word-spacing: .25em;
        padding: 1.5em;
    }
    
    #record{
        grid-template-columns: repeat(3, 450px);
        font-size: 1.45em;
        margin-left: 1.25em;
    }
    #player-stats{
        font-size: 1.5em;
        margin-top: 3em;
    }
    h2{
        font-size: 2em;
    }
    #stats{
        grid-template-columns: repeat(8, 165px);
        margin-left: 3em;
        font-size: 1.25em;
        margin-top: 2em;
        #stat-desc{
            padding-left: 3.25em;
        }
        #stat-num{
            padding-left: 3.25em;
        }
    }
    .game-today{
        display: flex;
        margin-right: 2em;
        margin-left: 2em;
        margin-top: 2em;
        margin-bottom: 2em;
        font-size: 1.25em;
        border-radius: 25px;
        background-color: rgb(180, 180, 180);
        animation-name: breathe;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
    
        
        #emoji{
            position: absolute;
            margin-left: 8em;
            padding-top: 12px;
            padding-bottom: 10px;
            color: var(--primary-color);
            animation-name: softball;
            animation-duration: 4s;
            animation-iteration-count: infinite;
            animation-fill-mode: forwards;
        }
        p{
            font-size: 1.5em;
            padding-top: 10px;
            padding-bottom: 10px;
            color: var(--primary-color);
            margin-left: 12em;
    
            #game-live{
                font-size: .5em;
            }
            #game-link{
                text-decoration: underline;
                color: var(--primary-color);
                cursor: pointer;
            }
        }
    }
    #news{
        display: grid;
        grid-template-columns: 600px 600px;
        column-gap: 100px;
        row-gap: 75px;
        text-align: center;
        margin-left: 5em;
        .news-div{
            width: 90%;
        }
        .news-div:last-child:nth-last-child(odd) {
            grid-column: auto / span 2;
          }
        #headline{
            font-size: 1.75em;
        }
        #news-date{
            font-size: 1.5em;
        }
        #src{
            font-size: 1.5em;
        }
    }
    #next-game{
        margin-right: 8em;
        font-size: 1.1em;
        border-radius: 15px;
        margin-top: -1em;
    }
    #feed{
        margin-left: 2em;
        margin-right: 2em;
        display: grid;
        grid-template-columns: 600px 0px 0px 600px;
        column-gap: 3em;
        
        #background-odd{
            grid-template-columns: repeat(3, 200px);
            width: 650px;
            margin: auto;
            margin-bottom: 1em;
            
            h3{
                width: 6em;
                margin-left: 3em;
            }
            #sched-opp{
                width: 120%;
                margin-left: 1em;
            }
        }
        #background-even{
            grid-template-columns: repeat(3, 200px);
            width: 650px;
            margin: auto;
            margin-bottom: 1em;
            
            h3{
                width: 6em;
                margin-left: 3em;
            }
            #sched-opp{
                width: 120%;
                margin-left: 1em;
            }
        }
    }
}

